<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>APSV_MsTH</servlet-name>
		<servlet-class>es.upm.dit.apsv.msth.APSV_MsTHServlet</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>NewMsTH</servlet-name>
		<servlet-class>es.upm.dit.apsv.msth.NewMsTHServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>APSV_MsTH</servlet-name>
		<url-pattern>/apsv_msth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewMsTH</servlet-name>
		<url-pattern>/newMsTH</url-pattern>
	</servlet-mapping>
	<!--  
	<servlet>
    <servlet-name>AcceptAdvisorEmail</servlet-name>
         <servlet-class>es.upm.dit.apsv.msth.AcceptAdvisorEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AcceptAdvisorEmail</servlet-name>
	    <url-pattern>/_ah/mail/msth@apsv-149119.appspotmail.com</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ProcessFile</servlet-name>
         <servlet-class>es.upm.dit.apsv.msth.ProcessfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ProcessFile</servlet-name>
	    <url-pattern>/upload</url-pattern>
	</servlet-mapping>
	-->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
